<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Jamstack Meme Generator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
</head>

<body>

    <div id="app" style="display: none;">
        <!-- Modal -->
        <div class="modal fade" id="memeExamplesModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="memeExamplesModalLabel">Meme Examples</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <ol>
                            <li v-for="meme in memeExamples">
                                <a
                                    v-bind:href="'?meme=' + meme.meme + '&topText=' + meme.topText + '&bottomText=' + meme.bottomText">
                                    {{ meme.topText + ' - ' + meme.bottomText }}
                                </a>
                            </li>
                        </ol>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mx-auto" style="max-width: 600px; padding: 10px;">
            <div class="card">
                <div class="card-header">
                    Jamstack Meme Generator
                    <div class="float-end">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#memeExamplesModal">
                            View Meme Examples
                        </button>
                    </div>
                </div>
                <div class="card-body">

                    <h6 class="card-title">Create your meme</h6>
                    <div class="mb-3 row">
                        <label for="meme" class="col-sm-3 col-form-label">Meme</label>
                        <div class="col-sm-9">
                            <select id="meme" v-model="meme" class="form-select">
                                <option v-for="option in memeOptions" v-bind:value="option.value"
                                    v-bind:key="option.value">
                                    {{option.text}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="topText" class="col-sm-3 col-form-label">Top Text</label>
                        <div class="col-sm-9">
                            <input id="topText" v-model="topText" class="form-control" type="text"
                                placeholder="Top text">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="bottomText" class="col-sm-3 col-form-label">Bottom Text</label>
                        <div class="col-sm-9">
                            <input id="bottomText" v-model="bottomText" class="form-control" type="text"
                                placeholder="Bottom text">
                        </div>
                    </div>

                    <hr />

                    <button class="btn btn-primary" v-on:click="generateMeme" v-bind:disabled="isMemeLoading">Generate
                        Meme</button>

                    <button v-show="isMemeLoading" class="btn btn-primary" type="button" disabled>
                        <span class="spinner-border spinner-border-sm"></span>
                        Loading...
                    </button>

                    <div v-show="isMemeLoaded">
                        <br />
                        <img v-bind:src="memeImageUrl" v-on:load="memeImageLoad" v-on:error="memeImageError"
                            style="max-width: 500px;" />
                        <br />

                        <label v-show="!isMemeLeaderboardError && location.city">Served by a Cloudflare Worker in {{
                            location.city }}, {{ location.country }}</label>
                        <hr />
                        <h3>Top 10 Meme Leaderboard</h3>
                        <ol v-show="memeLeaderboard.length">
                            <li v-for="meme in memeLeaderboard">
                                <a
                                    v-bind:href="'?meme=' + meme.meme + '&topText=' + meme.topText + '&bottomText=' + meme.bottomText">
                                    {{ meme.topText + ' - ' + meme.bottomText }}
                                </a> ({{ meme.count }})
                            </li>
                        </ol>
                        <div v-show="!isMemeLeaderboardError && !memeLeaderboard.length">
                            <hr />
                            No memes yet!
                        </div>
                        <div v-show="isMemeLeaderboardError">
                            <hr />
                            There was an error getting the leaderboard.
                        </div>
                    </div>

                    <div v-show="isLoadingError">
                        <hr />
                        The Cloudflare KV account has reached the free usage limit for today!
                        <br />
                        <br />
                        <img src="images/frustrated-boromir-im-out-meme.jpg" style="max-width: 500px;" />
                        <br />
                        <br />
                        <img src="images/pitch-and-product-im-out-meme.jpeg" style="max-width: 500px;" />
                        <br />
                        <br />
                        <img src="images/peace-im-out-meme.jpg" style="max-width: 500px;" />
                        <br />
                        <a href="https://sayingimages.com/im-out-meme/" target="_blank" rel="noopener noreferrer">Meme Source</a>
                    </div>

                </div>

            </div>
        </div>

        <div class="container mx-auto" style="max-width: 600px; padding: 10px;">
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                <div>
                    Memes generated by <a href="https://www.apimeme.com" title="APIMeme Meme Generator" target="_blank" rel="noopener noreferrer">APIMeme Meme Generator</a>
                </div>
                <div>
                    Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik" target="_blank" rel="noopener noreferrer">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon" target="_blank" rel="noopener noreferrer">www.flaticon.com</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.min.js"></script>

    <script src="scripts/meme-generator.js"></script>

</body>

</html>